In [6]:
import geopandas as gpd
import pandas as pd

In [7]:
# Download & extract census block group geographies from 
# https://www.census.gov/geographies/mapping-files/time-series/geo/cartographic-boundary.2021.html#list-tab-1883739534
census_gdf = gpd.read_file("us_census_data/cb_2021_us_bg_500k.shp")

In [17]:
# Download census data (median household income) per block group from
# https://data.census.gov/table/ACSDT5Y2021.B19013?q=Income+(Households,+Families,+Individuals)&g=010XX00US$1500000
census_df_income = pd.read_csv("us_census_data/ACSDT5Y2021.B19013-Data.csv")
census_df_income.head(5)

,GEO_ID,NAME,B19013_001E,B19013_001EA,B19013_001M,B19013_001MA,Unnamed: 6
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Annotation of Estimate!!Median household incom...,Margin of Error!!Median household income in th...,Annotation of Margin of Error!!Median househol...,NaN
1,1500000US010010201001,"Block Group 1, Census Tract 201, Autauga Count...",41607,NaN,13603,NaN,NaN
2,1500000US010010201002,"Block Group 2, Census Tract 201, Autauga Count...",66313,NaN,15939,NaN,NaN
3,1500000US010010202001,"Block Group 1, Census Tract 202, Autauga Count...",42288,NaN,22082,NaN,NaN
4,1500000US010010202002,"Block Group 2, Census Tract 202, Autauga Count...",52609,NaN,15898,NaN,NaN

# Cities to analyze

- Boston (**MBTA**)
    - GTFS Feed: https://www.transit.land/operators/o-drt-mbta
- San Francisco (**SFMTA**)
    - GTFS Feed: https://www.transit.land/operators/o-9q8y-sfmta
- New York (**MTA**)
    - GTFS Feed(s): https://www.transit.land/operators/o-dr5r-nyct
- Chicago (**CTA**)
    - GTFS Feed: https://www.transit.land/operators/o-dp3-chicagotransitauthority
- Washington DC (**WMATA**)
    - GTFS Feed(s): https://www.transit.land/operators/o-dqc-met
- Atlanta (**MARTA**)
    - GTFS Feed: https://www.transit.land/operators/o-dnh-metropolitanatlantarapidtransitauthority